@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<br />
<div class="form-group row">
    <div class="col-sm-10">
        <a class="btn btn-success" asp-page="/Books/Add">Add New Book</a>
        <a class="btn btn-success" asp-page="/Borrowers/Add">Add New Borrower</a>
    </div>
</div>
<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in Model.Books)
            {
                <tr>
                    <td><a asp-page="Books/Details" asp-route-id="@(book.BookId)">@book.Title</a></td>
                    <td><a asp-page="Authors/Details" asp-route-id="@(book.AuthorId)">@book.Author</a></td>
                    <td>@book.Status</td>
                </tr>
            }
        </tbody>
    </table>
</div>