@model AddInstrumentBindingModel
@{
    ViewData[CommonConstants.TitleSuffix] = "Add Instrument";
}

<h2>Create Instrument</h2>
<br />
<form asp-area="Administrator" asp-controller="Instruments" asp-action="AddInstrument" method="post">
    @Html.FormGroupFor(model => model.ModelName)
    @Html.FormGroupFor(model => model.Description)
    @Html.FormGroupFor(model => model.PhotoURL)
    @Html.FormGroupFor(model => model.HighLightVideoURL)
    @Html.FormGroupFor(model => model.AdditionalInfoURL)

    <div class="container-fluid">
        <div class="row">
            <div class="control-label col-sm-2">
                <label asp-for="BrandId">Brand</label>
            </div>
            <select asp-for="BrandId" asp-items="Model.AllBrands" class="form-control"></select>
            <br />
            <div class="control-label col-sm-2">
                <label asp-for="InstrumentTypeId">Instrument Type</label>
            </div>
            <select asp-for="InstrumentTypeId" asp-items="Model.AllInstrumentTypes" class="form-control"></select>
        </div>
    </div>
    <br />

    <div class="form-group">
        <div class="col-sm-push-2">
            <input type="submit" value="Create" class="btn btn-success" />
            <a asp-area="Administrator" asp-controller="Instruments" asp-action="Index" class="btn btn-default">Cancel</a>
        </div>
    </div>
</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
