@model BrandBindingModel
@{
    ViewData[CommonConstants.TitleSuffix] = "Add Brand";
}

<h2>Create Brand</h2>
<br />
<form asp-area="Administrator" asp-controller="Brands" asp-action="AddBrand" method="post">
    @Html.FormGroupFor(model => model.BrandName)
    @Html.FormGroupFor(model => model.BrandDescription)
    @Html.FormGroupFor(model => model.BrandTypeStr)
    @Html.FormGroupFor(model => model.BrandImageURL)
    @Html.FormGroupFor(model => model.AdditionalInfoURL)

    <div class="form-group">
        <div class="col-sm-push-2">
            <input type="submit" value="Create" class="btn btn-success" />
            <a asp-area="Administrator" asp-controller="Brands" asp-action="Index" class="btn btn-default">Cancel</a>
        </div>
    </div>
</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
