@model ReviewConciseViewModel

<tr>
    <td>@Model.Id</td>
    <td><a asp-page="/Reviews/ReviewDetails" asp-route-id="@Model.Id">@Model.Title</a></td>
    <td>
        <a asp-area="Administrator" asp-page="/Reviews/ReviewDetails" asp-route-id="@Model.Id"
           class="btn btn-default">Details</a>
        <a asp-area="Administrator" asp-controller="Reviews" asp-action="EditReview" asp-route-id="@Model.Id"
           class="btn btn-warning">
            Edit
        </a>
        <a asp-area="Administrator" asp-controller="Reviews" asp-action="DeleteReview" asp-route-id="@Model.Id"
           class="btn btn-danger">
            Delete
        </a>
    </td>
</tr>
