@model ArtistDetailsViewModel

<div class="container row">
    <div class="col-12">
        <br />
        <form method="post">
            <div class="form-group row">
                <input class="form-control" name="FullName" placeholder="Full Name" value="@Model.FullName" disabled />
            </div>
            <div class="form-group row">
                <label class="form-control-label">Artist Description</label>
                <textarea class="form-control" name="Description" placeholder="Artist Descrtiption" minlength="20">@Model.Description</textarea>
            </div>

            <div class="form-group row">
                <label class="form-control-label">Artist Image URL</label>
                <input type="url" class="form-control" name="PhotoURL" placeholder="Enter URL to Image" value="@Model.PhotoURL" />
            </div>
            <div class="form-group row">
                <label class="form-control-label">Additional InfoURL</label>
                <input type="url" class="form-control" name="AdditionalInfoURL" placeholder="Enter URL for Additional Info" value="@Model.AdditionalInfoURL" />
            </div>
            <div class="form-group row">
                <label class="form-control-label">Video URL</label>
                <input type="url" class="form-control" name="HighLightVideoURL" placeholder="Enter URL to Video" value="@Model.HighLightVideoURL" />
            </div>

            <input type="submit" value="Edit" class="btn btn-warning" />
            <a asp-area="Administrator" asp-controller="Artists" asp-action="Index" class="btn btn-default">Cancel</a>
        </form>
    </div>
</div>