@model GameDetailsViewModel

<div class="container row">
    <div class="col-12">
        <br />
        <form method="post">
            <div class="form-group row">
                <label class="form-control-label">GameName</label>
                <input class="form-control" name="GameName" placeholder="Enter Game Name" value="@Model.GameName" disabled />
            </div>

            <div class="form-group row">
                <label class="form-control-label">Game Description</label>
                <textarea class="form-control" name="Description" placeholder="Game Description" minlength="15">@Model.Description</textarea>
            </div>

            <div class="form-group row">
                <label class="form-control-label">Game Image URL</label>
                <input type="url" class="form-control" name="PhotoURL" placeholder="Enter URL to Image" value="@Model.PhotoURL" />
            </div>
            <div class="form-group row">
                <label class="form-control-label">Video URL</label>
                <input type="url" class="form-control" name="HighLightVideoURL" placeholder="Enter URL to Video" value="@Model.HighLightVideoURL" />
            </div>
            <div class="form-group row">
                <label class="form-control-label">Additional Info URL</label>
                <input type="url" class="form-control" name="AdditionalInfoURL" placeholder="Enter URL for Additional Info" value="@Model.AdditionalInfoURL" />
            </div>

            <input type="submit" value="Edit" class="btn btn-warning" />
            <a asp-area="Administrator" asp-controller="Games" asp-action="Index" class="btn btn-default">Cancel</a>
        </form>
    </div>
</div>