@model AddArtistBindingModel
@{
    ViewData[CommonConstants.TitleSuffix] = "Add Artist";
}

<h2>Create Artist</h2>
<br />
<form asp-area="Administrator" asp-controller="Artists" asp-action="AddArtist" method="post">
    @Html.FormGroupFor(model => model.FullName)
    @Html.FormGroupFor(model => model.Description)
    @Html.FormGroupFor(model => model.PhotoURL)
    @Html.FormGroupFor(model => model.HighLightVideoURL)
    @Html.FormGroupFor(model => model.AdditionalInfoURL)

    <div class="container-fluid">
        <div class="row">
            <div class="control-label col-sm-2">
                <label asp-for="ArtistTypeId">Artist Type</label>
            </div>
            <select asp-for="ArtistTypeId" asp-items="Model.AllArtistTypes" class="form-control"></select>
        </div>
    </div>
    <br />

    <div class="form-group">
        <div class="col-sm-push-2">
            <input type="submit" value="Create" class="btn btn-success" />
            <a asp-area="Administrator" asp-controller="Artists" asp-action="Index" class="btn btn-default">Cancel</a>
        </div>
    </div>
</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
