@model BookBindingModel
@{
    ViewData["Title"] = "AddBook";
}

<h2>Create Book</h2>
<br />
<form asp-area="Administrator" asp-controller="Books" asp-action="AddBook" method="post">
    @Html.FormGroupFor(model => model.Title)
    @Html.FormGroupFor(model => model.Description)
    @Html.FormGroupFor(model => model.BookAuthorStr)
    @Html.FormGroupFor(model => model.BookCategoryStr)
    @Html.FormGroupFor(model => model.PhotoURL)
    @Html.FormGroupFor(model => model.AdditionalInfoURL)
        
    <div class="form-group">
        <div class="col-sm-push-2">
            <input type="submit" value="Create" class="btn btn-success" />
            <a asp-area="Administrator" asp-controller="Books" asp-action="Index" class="btn btn-default">Cancel</a>
        </div>
    </div>
</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}